

<iframe
  width="300"
  height="300"
  frameborder="1" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDvlbT4viOOGx6VWKAyCW-isYpG3skvgWc
    &q=tokyo">
</iframe>
<p>View on <a href="https://www.google.co.jp/maps/place/tokyo"> google maps.</p></a>