<%= image_tag("8-bit-beer.gif", size: "200x200") %>
<h3>Why did I make Tokyo boozer?</h3>
<p>It's really quite simple really. Finding a good bar in Tokyo is a real pain on the internet. I found myself saying this a lot:</p>

<blockquote><p>If only tabelog didn't show me izakayas when I want to drink somewhere that isn't an izakaya. I'm looking for some place where I can mingle.</p></blockquote>

<p>Hopefully with this website, you'll be able to find something that fits you, rather than ending up at a joint that will charge you 2000 yen for a whiskey.</p>