<h2>Contact Information</h2>

<div class="container">
	<p>Questions, comments, or Nihonshuu recommendations should be sent to:</p>
	<div class ="row">
		<h3>Mail</h3>
		<div class="col-sm-4">
			<h4>English</h4>
			<address>
			<strong>Aaron Burdick</strong><br />
			Tokyo-to Shinjuku-ku Kamiochiai 3-3-5<br />
			Maisutairu Nakai 204<br />
			</address>
		</div>
		<div class="col-sm-5">
			<h4>日本語</h4>
			<address>
			<strong>バーディクアーロン</strong><br />
			東京都新宿区上落合３丁目５番５号<br />
			マイスタイル中井２０４<br />
			</address>
		</div>		
	</div>
	<div class="row">
		<h3>E-mail</h3>
		<div class="col-xs-9">
			<address>
			<strong>Aaron Burdick</strong><br />
			<a href="mailto:burdick.aaron@gmail.com?Subject=Re:Tokyo%20Boozer" target="_top">burdick.aaron@gmail.com</a>
			</address>
		</div>
	</div>
</div>