<div class="jumbotron">
	<h1>Featured Bar</h1>
	<p>AOYAMA TUNNEL</p>
	<p>ありそうで無かったラウンジ、Aoyama Tunnelへようこそ。最高の音楽と共にゆったりと過ごせるお店です。
			  	皆様のお越しをお待ちしております。–PartyやDjについて等随時募集しておりますので下記連絡先、担当:
			  	植松までお気軽にお問い合わせ下さい。尚、仕様機材は以下の通りです。
	<a class="btn btn-primary btn-large">
	Learn more
    </a>
　  <br />
	</p>
</div>
